body {
  font-size: 15px;
  line-height: 1.5;
  color: #353535;
  background-color: #dedede;
  /* font-family: 'Dosis', sans-serif;
  font-family: 'Muli', sans-serif; */
  font-family: 'Exo', sans-serif;
}

.category-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.category-card {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.category-card .category-card-top {
  padding: 5px 0;
  text-align: center;
}

.category-card .category-hero {
  width: 100%;
  object-fit: cover;
  width: 100%;
  flex: 1;
}
.category-card-link {
  text-decoration: none;
  color: black;
}

/* --------------- */

.ingredient-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.ingredient-card {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.ingredient-card .ingredient-card-top {
  padding: 5px 0;
  text-align: center;
}

.ingredient-card .ingredient-hero {
  width: 100%;
  object-fit: cover;
  width: 100%;
  flex: 1;
}
.ingredient-card-link {
  text-decoration: none;
  color: black;
}
/* --------------- */

.recipe-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5px;;
}

.recipe-card {
  display: grid;
  grid-template-columns: 150px 1fr;
  /* grid-template-rows:  */
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
}
.flex-spread {
  display: flex;
  justify-content: space-between;
}

.recipe-card-right {
  padding: .5em;
}
.recipe-card .recipe-hero {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.recipe-card .recipe-card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}

.recipe-card .recipe-card-top .recipe-add-item {
  width: 20px;
}

.recipe-card .recipe-hero {
  width: 100%;
  object-fit: cover;
  width: 100%;
  flex: 1;

}

.recipe-card .recipe-card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  padding-top: 5px;
}

.recipe-card .recipe-card-right  img {
  width: 15px;
}


.primary-nav-links {
  display: flex;
  width: 100%;
  height: 100%;
}

.primary-nav-links img {
  width: 20px;
}
.primary-nav-links > a  {
  text-decoration: none;
  color: black;
  font-size: 1em;
  flex: 1 0 auto;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.primary-nav-links a div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




.secondary-nav-links {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.secondary-nav-links > a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  flex: 1 0 auto;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;

}

.search-input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right:7px;
}

.search-input input {
    width: 100%;
  }

.flex-app {
  display: flex;
  height: 100vh;
  max-height: 100vh;
  flex-direction: column;
}
.secondary-nav {
  background-color: white;
  padding: 5px 0;
  flex: 0 0 40px;
}
.flex-content {
 flex: 1 1 auto;
 overflow-y: auto;
}
.primary-nav {
  background-color: white;
  margin-top: 5px;
  flex: 0 0 60px;
}

.header {
  background-color: white;
  border-bottom: #f0f0f0 1px solid;
}
.header-container  {
 display: flex;
 justify-content:center;
 padding: 5px;
}
.header-container span  {
font-weight: 600;
}



.stars {
  cursor: pointer;
}

.stars:hover .star polygon {
  fill: #ffd055 !important;
}

.stars .star {
  float: left;
}

.stars .star polygon {
  fill: #d8d8d8;
}

.stars .star:hover ~ .star polygon {
  fill: #d8d8d8 !important;
}

.stars[data-stars] .star polygon {
  fill: #ffd055;
}

.stars[data-stars="1"] .star:nth-child(1) ~ .star polygon {
  fill: #d8d8d8;
}

.stars[data-stars="2"] .star:nth-child(2) ~ .star polygon {
  fill: #d8d8d8;
}

.stars[data-stars="3"] .star:nth-child(3) ~ .star polygon {
  fill: #d8d8d8;
}

.stars[data-stars="4"] .star:nth-child(4) ~ .star polygon {
  fill: #d8d8d8;
}

.stars[data-stars="5"] .star:nth-child(5) ~ .star polygon {
  fill: #d8d8d8;
}

/* .Site{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.Site-content {
    flex: 1 0 auto;
    width: 100%;
}
.Site-content:after {
    content: ‘\00a0’;
    display: block;
    height: 0;
    visibility: hidden;
}  */

section.recipe {
  margin: 0 10px;
}

section.recipe img {
  width: 100%;
}

.recipe-body {
  background-color: white;
}

.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.button-container button {
  flex: 1;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.6);
  background-color: #ff8a16;
  color: #ecf0f1;
  padding: 5px;
}

.button-container form {
  width: 50%;
  justify-self: center;
}

.recipe-content ul {
  padding-left: 25px;
}

.recipe-content ol {
  padding-left: 25px;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2),0 5px 5px 0 rgba(0,0,0,0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

button {
  border-width: 1px;
  border-radius: 1rem;
  outline: 0;
}

form.hide {
  display: none;
  transition: all 1s ease;
}

.search-form {
  max-width: 600px;
  margin: 0px auto;
}

input.search {
  padding: 20px 0 20px 0;
  margin: 0;
  text-align: center;
  outline: 0;
  border: none;
  width: 100%;
  position: relative;
  top: 10px;
  z-index: 2;
  border-radius: 5px;
  font-size: 28px;
  -webkit-box-shadow: 0 5px 10px rgba(75, 72, 72, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(75, 72, 72, 0.2);
  box-shadow: 0 5px 10px rgba(75, 72, 72, 0.2);
  color: #484e64;
}

.suggestions {
  padding: 0;
  position: static;
}

.suggestions li {
  background: #fff;
  list-style: none;
  border-bottom: 1px solid #d0d6f0;
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}
